{% extends "liiweb/home.html" %}
{% load i18n static %}
{% block hero-logos %}
{% endblock %}
{% block hero-headings %}
  <h1 class="mb-4">{% trans 'Welcome to the Samland Legal Information Institute' %}</h1>
  <h4 class="mb-4">
    {% blocktrans trimmed %}
      SamlandLii publishes the law of Samland for free online access.
    {% endblocktrans %}
  </h4>
{% endblock %}
{% block second-col-about %}
  <div>
    <strong>{% trans 'About' %}</strong>
  </div>
  <p>
    {% blocktrans trimmed %}
    SamlandLii provides free, unrestricted access to the primary and secondary legal materials of Samland.  Free Access to Law supports the rule of law, access to justice and transparency.
  {% endblocktrans %}
  </p>
{% endblock %}

{% block facebook-tab %}
{% endblock %}

{% block facebook-pane %}
{% endblock %}
