{% extends "peachjam/_footer.html" %}
{% load static i18n %}
{% block about %}
  <p>
    SamlandLii provides free, unrestricted access to the primary and secondary legal materials of Samland.  Free Access to Law supports the rule of law, access to justice and transparency.
  </p>
{% endblock %}
{% block second-content-column %}
  <h5>{% trans 'Our partners' %}</h5>
  <div>
    <a href="https://minersonline.uk/" target="_blank" rel="noreferrer">Samland Government</a>
  </div>
{% endblock %}
{% block footer-logos %}
  <div class="footer-logos">
    <a class="footer-logos__item"
       href="https://minersonline.uk/"
       target="_blank"
       rel="noreferrer">
      <img src="{% static 'images/africanlii-logo.svg' %}" alt="Samland Government"/>
    </a>
  </div>
{% endblock %}
