{% extends "peachjam/terms_of_use.html" %}
{% block terms-of-use-content %}
  {% with organisation_name="SamlandLII" org_link_text="https://lii.minersonline.uk" robots_link_text="https://lii.minersonline.uk/robots.txt" contact_email="info@example.com" %}
    {% with who_are_we="SamlandLII provides free, unrestricted access to the primary and secondary legal materials of Samland.  Free Access to Law supports the rule of law, access to justice and transparency." %}
      {% include "peachjam/_terms_of_use_content.html" %}
    {% endwith %}
  {% endwith %}
{% endblock %}
